.display {
    grid-column: span 4;
    background-color: var(--corDisplay);
    border-radius: 10px;

    height: 100px;
    font-size: 4em;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    overflow: hidden;
    margin: 15px;
}